/* This file imports all your scss partials to be compiled in one stylesheet, Which can be attached to your html.
All the files that are prefixed with an underscore
"_name-of-file.scss" are called partials - meaning that their css isn't compiled unless its imported into an unprefixed .scss file */
/* are placeholders for storing information that you want to reuse throughout your styles. You can store things like colors, font-stacks, or any other css value you might want to reuse.
SCSS uses the '$' to declare variables. */
@-moz-viewport {
  width: device-width;
  scale: 1; }

@-ms-viewport {
  width: device-width;
  scale: 1; }

@-o-viewport {
  width: device-width;
  scale: 1; }

@-webkit-viewport {
  width: device-width;
  scale: 1; }

@viewport {
  width: device-width;
  scale: 1; }

/* line 9, /Users/rebeckacole/Documents/Graphic Design Semester 6/Web Development V/exercise-2-scss/scss/components/main */
html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* line 17, /Users/rebeckacole/Documents/Graphic Design Semester 6/Web Development V/exercise-2-scss/scss/components/main */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 21, /Users/rebeckacole/Documents/Graphic Design Semester 6/Web Development V/exercise-2-scss/scss/components/main */
body {
  margin-top: 15%;
  margin-left: 35%;
  background-color: #028482; }

/* line 27, /Users/rebeckacole/Documents/Graphic Design Semester 6/Web Development V/exercise-2-scss/scss/components/main */
.red {
  background-color: #660000; }
