// Variables
/* are placeholders for storing information that you want to reuse throughout your styles. You can store things like colors, font-stacks, or any other css value you might want to reuse.
SCSS uses the '$' to declare variables. */

// Colors

$background: #028482;
$red: #660000;
$white: #fff;
$black: #000;
$grey: #3d535c;

// Font

$voltaire: 'Voltaire', sans-serif;
$raleway: 'Raleway', sans-serif;
